@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body {
    background: #e9ecef;
      font-family:  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
    'Helvetica Neue', 'Tilt Warp', sans-serif;
}

input {
    border-radius: 4px;
    border: 1px solid #dee2e6;
    width: 100%;
    outline: none;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
